<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmj.viewpaint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lesson6.SixAct">

        </activity>
        <activity android:name=".lesson7.ActSeven" >

        </activity>
        <activity android:name=".lesson8.AnimatorAct" >

        </activity>
        <activity android:name=".lesson9.BitmapDrawableAct">

        </activity>
        <activity android:name=".lesson10.LayoutLesson10Act" >

        </activity>
        <activity android:name=".lesson11.Lesson11Act" >

        </activity>
        <activity android:name=".lesson12.Lesson12Act">

        </activity>
    </application>

</manifest>